/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */
   #features img{
     margin: 0 0 20px;
   }
   #features{
     text-align: center;
   }
   footer{
     background: #333;
     color: #F2F3F4;
     font-size: 11px;
     padding: 20px;
   }
#whyalumni{
  background: #ffd463;
}
#modalcolor{
    background: #ffd463;
    margin-top: 0;
    margin-bottom: 0;
}

#img{
   image-orientation: url('../../images/whyjoin.png')  center no-repeat;
}

#friend{
  background: #F2F3F4;
  padding-left: 120px;
  padding-top: 10px;

}
#friendbutton{
  background:  #F2F3F4;
  padding-left: 60px;
  padding-top: 10px;
}
#college{
  background: white;
  padding-left: 80px;
}
#friend p{
  font-size:25px;

}
.unstyled{
  list-style: none;
  font-size: 15px;

}
#formspace{
  padding-top: 80px;
}
#modalspace{
  padding-top: 150px;
}
#modalspace2{
  padding-top: 100px;
}

#modalbutton{
  background: #9f0826;
}

 #buttonback{
   background: #9f0826;
 }
#buttonregister{
  background: #9f0826;
  height: 35px;
}


 h1{
  color: #9f0826;
}
 h3{
  color: #9f0826;
}
h4{
  color: #9f0826;
}

.btn{
  white-space: normal;
}

.glyphicon .glyphicon-heart{
  color: red;
}

/* --------------------------------------
   Typography
   -------------------------------------- */



/* --------------------------------------
   Navbar
   -------------------------------------- */
   .navbar-brand{
     padding: 13px 15px;
    padding-top: 5px;
   }
   .navbar-brand img{
     height: 32px;
     width: 108px;
   }
   #searchInput{
     width: 200px;
   }
   .navbar-fixed-top{
     z-index: 99999;
   }
   .navbar{
     background: black;
     opacity: 0.7;
   }

/* --------------------------------------
   Carousel
   -------------------------------------- */


   .carousel-caption{
    font-size: 28px;
    bottom: 150px;

   }
   .carousel-caption h2{
     font-size: 52px;
   }
   .carousel .backdrop{
     width: 100%;
     height: 100%;
     background: black;
     opacity: 0.5;
     position: absolute;
     z-index: 999;
   }
   .carousel-indicators{
     z-index: 99999;
   }
   .carousel-control{
     z-index: 9999;
   }
   .carousel-caption{
     opacity: 0.9;
     z-index: 99998;
   }


#myCarousel .item{ height: 700px;}
#slide1{
  background: url('../../images/back1m.jpg') top center no-repeat;
  background-size: cover;
}
#slide2{
  background: url('../../images/back2m.jpg') top center no-repeat;
    background-size: cover;
}
#slide3{
  background: url('../../images/back3m.JPG') top center no-repeat;
    background-size: cover;
}
#slide4{
  background: url('../../images/back4m.jpg') top center no-repeat;
    background-size: cover;
}


/* --------------------------------------
   Global Styles
   -------------------------------------- */
   .well{
     margin: 10px 0;
   }


/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px)  {
    #myCarousel .item{
      height: 450px;
      padding-top: 450px;
    }

    #slide1{
      background: url('../../images/back1s.jpg') top center no-repeat;
    }
    #slide2{
      background: url('../../images/back2s.jpg') top center no-repeat;
    }
    #slide3{
      background: url('../../images/back3s.jpg') top center no-repeat;
    }
    #slide4{
      background: url('../../images/back4s.jpg') top center no-repeat;
        background-size: cover;
    }
    #img{
      img: url('../../images/whyjoinvs.png')  center no-repeat;
    }


}
@media (min-width: 480px)  {

  #myCarousel .item{
    height: 550px;
    padding-top: 550px;
  }
    #slide1{
      background: url('../../images/back1m.jpg') top center no-repeat;
    }
    #slide2{
      background: url('../../images/back2m.jpg') top center no-repeat;
    }
    #slide3{
      background: url('../../images/back3m.jpg') top center no-repeat;
    }
    #slide4{
      background: url('../../images/back4m.jpg') top center no-repeat;
        background-size: cover;
    }


}

/* Landscape phone to portrait tablet */
@media (min-width: 768px) {
  #myCarousel .item{ height: 730px;
    padding-top: 730px;
}
  #slide1{
    background: url('../../images/back1s.jpg') top center no-repeat;
      background-size: cover;
  }
  #slide2{
    background: url('../../images/back2s.jpg') top center no-repeat;
      background-size: cover;
  }
  #slide3{
    background: url('../../images/back3s.jpg') top center no-repeat;
      background-size: cover;
  }
  #slide4{
    background: url('../../images/back4s.jpg') top center no-repeat;
      background-size: cover;
  }
  #img{
    img: url('../../images/whyjoinvs.png')  center no-repeat;
  }

}

@media (min-width: 992px) {
  #myCarousel .item{ height: 700px;
  padding-top: 700px;}
  #slide1{
    background: url('../../images/back1m.jpg') top center no-repeat;
      background-size: cover;
  }
  #slide2{
    background: url('../../images/back2m.jpg') top center no-repeat;
      background-size: cover;
  }
  #slide3{
    background: url('../../images/back3m.jpg') top center no-repeat;
      background-size: cover;
  }
  #slide4{
    background: url('../../images/back4m.jpg') top center no-repeat;
      background-size: cover;
  }
  #img{
    img: url('../../images/whyjoins.png')  center no-repeat;
  }
}
